.my-container {
    background-color: #18425f;
    height:800px;
}

.a-label:hover{
    color:white;
    text-decoration: none;
}

.a-label:active{
    color:#0275d8;
    text-decoration: none;
}

.a-label:visited{
    color:#0275d8;
    text-decoration: none;
}

.text-label{
    color:whitesmoke;
    width:240px;
    height:30px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

img{
    width:242px;
    height:200px;
}

.main-title{
    margin-top:20px;
}

.every-game{
    margin-left:100px;
}