/*=======common==========*/
.text-align-right {
    text-align: right;
}

/*=======header-container==========*/
.my-container {
    height: 100px;
    background-color: rgb(23, 26, 33);
}

.my-nav{
    margin-top: 27px;
    width:140px;
}

.second-part{
    width:600px;
}

.my-nav .nav-item a{
    color: blue;
}

.my-nav .nav-item a:hover{
    color: white;
    text-decoration: none;
}

.my-nav .nav-item a:active{
    color: blue;
    text-decoration: none;
}

.login-label{
    color: white;
}

.my-input{
    width: 100px;
}

.time-div{
    width:300px;
    margin-top:35px;
}

.has-login{
    color: blue;
}

.has-login:hover{
    color: white;
    text-decoration: none;
}

.show-user{
    margin-top:35px;
}